/*Colors and fonts*/
body{
background: #102C57;
color: rgb(30, 30, 30, 1.0);
font-family: Helvetica;
font-size: 16px;
margin: 0;
padding: 0;
}

.container{
max-width: 150px;
margin: 0 auto;
}

h1, h2, h3{
text-align: center;
font-family: Courier;

}

img{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
}

h1{
color: #D4AC2B;
font-size: 32px;
}

h2{
color: #D4AC2B;
font-size: 24px;
font-weight: lighter;
}

a{
text-decoration: none;
position: fixed;
color: #D4AC2B;
}

a:hover {
color: yellow;

}

p{
text-align: center;
color: #D4AC2B;
}

ul{
list-style-type: none;

}


.social-icons-container{
text-align: center;
}

.social-icons{
list-style-type: none;
display: inline-block;
}

.social-icons li{
display: inline-block;
margin: 10px;
}

.facebook-icon{
margin-right: 90px;
}

.linkedin-icon{
margin-right: 90px;
}




